/* Allgemeine Einstellungen */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  nav .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Hero Image */
  .hero {
    position: relative;
    text-align: center;
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px #000;
  }
  